<div class="container full-screen">
  <%= render "shared/banner-title" %>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="banner-title"><h3>RECENT VIDEOS</h3></div>
      <div class="row">
        <% @videos.each do |video| %>
        <div class="col-xs-12 col-md-6">
          <div class="post-index-card">
            <div class="post-index-card-image" style="background-image: url(<%= cl_image_path video.card_photo.path %>);">

            </div>
            <div class="post-index-card-category">
              <p><%= video.category.name %></p>
            </div>
            <div class="post-index-card-text">
              <h4><%= video.title %></h4>
              <p><%= video.introduction %></p>
            </div>
            <div class="post-index-card-date">
              <p>By <strong><%= video.user.name %></strong></p>
              <% if user_signed_in? && current_user.admin? %>
              <%= link_to "Edit", edit_video_path(video), class: "post-index-card-link-edit" %>
              <% end %>
              <p><%= video.created_at.strftime('%b %d, %Y') %></p>
            </div>
            <% if user_signed_in? && current_user.admin? %>
            <%= link_to "", video_path(video), class: "post-index-card-link" %>
            <% end %>
          </div>
        </div>
        <% end %>
        <% if user_signed_in? && current_user.admin? %>
        <%= link_to "New video", new_video_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
     <%= render "shared/sidebar", posts: @latest_posts, videos: @latest_videos %>
   </div>
 </div>

</div>
