     <div class="sidebar-content-title">
      <h5>ABOUT US</h5>
    </div>
    <%= image_tag "adriana.jpg", class: "sidebar-content-image img-thumbnail" %>
    <div class="sidebar-content-text">
      <p>Welcome to <strong>Elephant &amp; Castle</strong>, my name is Adriana and I love photography, travelling and ... <%= link_to "[read more]", about_path %></p>
    </div>
    <ul class="list-inline sidebar-content-links">
      <li><a href="https://www.facebook.com/adriekswsk"><i class="fa fa-facebook-official fa-fw"></i></a></li>
      <li><a href="https://www.instagram.com/kosokiki/?hl=en"><i class="fa fa-instagram fa-fw"></i></a></li>
      <li><a href=""><i class="fa fa-twitter fa-fw"></i></a></li>
      <li><a href="https://www.youtube.com/channel/UC7-QSGYY7IO2o9t1nzvHuBg"><i class="fa fa-youtube fa-fw"></i></a></li>
    </ul>

    <div class="sidebar-content-title">
      <h5>EMAIL US</h5>
    </div>
    <div class="sidebar-content-email form-group">
      <form method="POST" action="https://formspree.io/adriana.kosowski.bba@edhec.com">
        <input type="email" name="email" placeholder="Your email" class="form-control">
        <input type="subject" name="subject" placeholder="Subject" class="form-control">
        <textarea name="message" placeholder="Your message" class="form-control"></textarea>
        <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane fa-fw"></i>  Send</button>
      </form>
    </div>

    <div class="sidebar-content-title">
      <h5>LATEST POSTS</h5>
    </div>
    <% posts.each do |post| %>
    <div class="product">
    <%= cl_image_tag post.card_photo.path, class: "product-image hidden-xs" %>
      <div class='product-body'>
        <h3><%= post.title %></h3>
        <p><%= post.introduction[0..35] %>...</p>
      </div>
      <%= link_to "", post_path(post), class: "product-link" %>
    </div>
    <% end %>

    <div class="sidebar-content-title">
      <h5>LATEST VIDEOS</h5>
    </div>
    <% videos.each do |video| %>
    <div class="product">
    <%= cl_image_tag video.card_photo.path, class: "product-image hidden-xs" %>
      <div class='product-body'>
        <h3><%= video.title %></h3>
        <p><%= video.introduction[0..35] %>...</p>
      </div>
      <%= link_to "", video_path(video), class: "product-link" %>
    </div>
    <% end %>

