<div class="container">
  <div class="banner">
    <div class="banner-title"><h1>ELEPHANT<small> &amp; </small>CASTLE</h1></div>
    <div class="banner-image" style="background-image: url(<%= image_path "banner.png" %>);">
    </div>
  </div>
  <div class="row promo-cards">

    <div class="col-xs-12 col-md-4">
      <div class="promo-card" style="background-image: url(<%= image_path 'instagram.jpg' %>);">
        <div class="promo-card-border">
          <div class="promo-card-title">
            <h4>INSTAGRAM</h4>
          </div>
        </div>
        <a href="https://www.instagram.com/elephantncastle_/?hl=en" class="promo-card-link"></a>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="promo-card" style="background-image: url(<%= image_path "videos.jpg" %>);">
        <div class="promo-card-border">
          <div class="promo-card-title">
            <h4>VIDEOS</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="promo-card" style="background-image: url(<%= image_path "people.jpg" %>);">
        <div class="promo-card-border">
          <div class="promo-card-title">
            <h4>PEOPLE</h4>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="banner-title"><h2>RECENT POSTS</h2></div>
      <div class="row">
        <% @posts.each do |post| %>
        <div class="col-xs-12 col-md-6">
          <div class="post-index-card">
            <div class="post-index-card-image" style="background-image: url(<%= cl_image_path post.card_photo.path %>);">

            </div>
            <div class="post-index-card-category">
              <p><%= post.category.name.upcase %></p>
            </div>
            <div class="post-index-card-text">
              <h4><%= post.title %></h4>
              <p><%= post.introduction %></p>
            </div>
            <div class="post-index-card-date">
              <p>By <strong>Adriana</strong></p>
              <p><%= post.created_at.strftime('%b %d, %Y') %></p>
            </div>
            <%= link_to "", post_path(post), class: "post-index-card-link" %>
          </div>
        </div>
        <% end %>
      </div>

    </div>
    <div class="col-xs-12 col-md-4">
     <%= render "shared/sidebar" %>
   </div>
 </div>

</div>

