<div class="container">
  <div class="banner">
    <%= render "shared/banner-title" %>
    <div class="banner-image" style="background-image: url(<%= cl_image_path @banner_post.card_photo.path %>);">
      <div class="banner-category">
        <p><%= @banner_post.category.name.upcase %></p>
      </div>
      <div class="banner-header">
        <h3><%= @banner_post.title.upcase %></h3>
      </div>
      <div class="banner-action">
        <%= link_to "READ MORE", post_path(@banner_post) %>
      </div>
    </div>
  </div>
  <div class="row promo-cards">

    <div class="col-xs-12 col-md-4">
      <div class="promo-card" style="background-image: url(<%= image_path 'instagram.jpg' %>);">
        <div class="promo-card-border">
          <div class="promo-card-title">
            <h4>INSTAGRAM</h4>
          </div>
        </div>
        <a href="https://www.instagram.com/elephantncastle_/?hl=en" class="promo-card-link"></a>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="promo-card" style="background-image: url(<%= image_path "videos.jpg" %>);">
        <div class="promo-card-border">
          <div class="promo-card-title">
            <h4>VIDEOS</h4>
          </div>
        </div>
        <%= link_to "", videos_path, class: "promo-card-link" %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="promo-card" style="background-image: url(<%= image_path "people.jpg" %>);">
        <div class="promo-card-border">
          <div class="promo-card-title">
            <h4>PEOPLE</h4>
          </div>
        </div>
        <%= link_to "", portraits_path, class: "promo-card-link" %>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="banner-title"><h2>RECENT POSTS</h2></div>
      <div class="row">
        <% @posts.each do |post| %>
        <div class="col-xs-12 col-md-6">
          <div class="post-index-card">
            <div class="post-index-card-image" style="background-image: url(<%= cl_image_path post.card_photo.path %>);">

            </div>
            <div class="post-index-card-category">
              <p><%= post.category.name.upcase %></p>
            </div>
            <div class="post-index-card-text">
              <h4><%= post.title %></h4>
              <p><%= post.introduction %></p>
            </div>
            <div class="post-index-card-date">
              <p>By <strong><%= post.user.name %></strong></p>
              <p><i class="fa fa-thumbs-up fa-fw" aria-hidden="true"></i> <%= post.likes.all.count %></p>
              <p><%= post.created_at.strftime('%b %d, %Y') %></p>
            </div>
            <%= link_to "", post_path(post), class: "post-index-card-link" %>
          </div>
        </div>
        <% end %>
      </div>


      <div class="banner-title"><h2>RECENT VIDEOS</h2></div>
      <div class="row">
        <% @videos.each do |video| %>
        <div class="col-xs-12 col-md-6">
          <div class="post-index-card">
            <div class="post-index-card-image" style="background-image: url(<%= cl_image_path video.card_photo.path %>);">

            </div>
            <div class="post-index-card-category">
              <p><%= video.category.name.upcase %></p>
            </div>
            <div class="post-index-card-text">
              <h4><%= video.title %></h4>
              <p><%= video.introduction %></p>
            </div>
            <div class="post-index-card-date">
              <p>By <strong><%= video.user.name %></strong></p>
              <p><i class="fa fa-thumbs-up fa-fw" aria-hidden="true"></i> <%= video.likes.all.count %></p>
              <p><%= video.created_at.strftime('%b %d, %Y') %></p>
            </div>
            <%= link_to "", video_path(video), class: "post-index-card-link" %>
          </div>
        </div>
        <% end %>
      </div>

    </div>
    <div class="col-xs-12 col-md-4">
     <%= render "shared/sidebar", posts: @latest_posts, videos: @latest_videos %>
   </div>
 </div>

</div>

<% content_for(:introduction) do %>
"Elephant & Castle"
<% end %>

<% content_for(:title) do %>
"Elephant & Castle"
<% end %>

<% content_for(:url) do %>
<%= request.original_url %>
<% end %>

<% content_for(:image) do %>
<%= image_path "about_banner.jpg" %>
<% end %>

