<div class="container">
  <%= render "shared/banner-title" %>
  <div class="row">
    <div class="col-xs-12 col-md-8">

      <% if @posts.count != 0 %>
      <div class="banner-title"><h2>POSTS</h2></div>
      <div class="row text-center">
        <% @posts.each do |post| %>
        <div class="col-xs-12 col-md-6">
          <div class="post-index-card">
            <div class="post-index-card-image" style="background-image: url(<%= cl_image_path post.card_photo.path %>);">

            </div>
            <div class="post-index-card-category">
              <p><%= post.category.name.upcase %></p>
            </div>
            <div class="post-index-card-text">
              <h4><%= post.title %></h4>
              <p><%= post.introduction %></p>
            </div>
            <div class="post-index-card-date">
              <p>By <strong><%= post.user.name %></strong></p>
              <p><%= post.created_at.strftime('%b %d, %Y') %></p>
            </div>
            <%= link_to "", post_path(post), class: "post-index-card-link" %>
          </div>
        </div>
        <% end %>
      </div>

      <% end %>
      <% if @videos.count != 0 %>
      <div class="banner-title"><h2>VIDEOS</h2></div>
      <div class="row text-center">
        <% @videos.each do |video| %>
        <div class="col-xs-12 col-md-6">
          <div class="post-index-card">
            <div class="post-index-card-image" style="background-image: url(<%= cl_image_path video.card_photo.path %>);">

            </div>
            <div class="post-index-card-category">
              <p><%= video.category.name %></p>
            </div>
            <div class="post-index-card-text">
              <h4><%= video.title %></h4>
              <p><%= video.introduction %></p>
            </div>
            <div class="post-index-card-date">
              <p>By <strong><%= video.user.name %></strong></p>
              <% if user_signed_in? && current_user.admin? %>
              <%= link_to "Edit", edit_video_path(video), class: "post-index-card-link-edit" %>
              <% end %>
              <p><%= video.created_at.strftime('%b %d, %Y') %></p>
            </div>
            <%= link_to "", video_path(video), class: "post-index-card-link" %>
          </div>
        </div>
        <% end %>


      </div>
      <% end %>
      <% if @portraits && @portraits.count != 0 %>
      <div class="banner-title"><h2>PEOPLE</h2></div>
      <div class="row text-center">

        <% @portraits.each do |portrait| %>
        <div class="col-xs-12 col-md-6">
          <div class="post-index-card">
            <div class="post-index-card-image" style="background-image: url(<%= cl_image_path portrait.photo.path %>);">

            </div>
            <div class="post-index-card-text">
              <h5><%= portrait.description %></h5>
            </div>
            <div class="post-index-card-date">
              <p>By <strong><%= portrait.user.name %></strong></p>
              <% if user_signed_in? && current_user.admin? %>
              <%= link_to "Edit", edit_portrait_path(portrait), class: "post-index-card-link-edit" %>
              <% end %>
              <p><%= portrait.created_at.strftime('%b %d, %Y') %></p>
            </div>
            <a href="<%= cl_image_path portrait.photo.path %>" data-lightbox="image-1" data-title="<%= portrait.description %>" class="post-index-card-link"></a>
          </div>
        </div>
        <% end %>


      </div>

      <% end %>


    </div>
    <div class="col-xs-12 col-md-4">
     <%= render "shared/sidebar", posts: @latest_posts, videos: @latest_videos %>
   </div>
 </div>

</div>

<% content_for(:introduction) do %>
"Elephant &amp; Castle"
<% end %>

<% content_for(:title) do %>
"Elephant &amp; Castle"
<% end %>

<% content_for(:url) do %>
<%= request.original_url %>
<% end %>

<% content_for(:image) do %>
<%= image_path "about_banner.jpg" %>
<% end %>
