<div class="container full-screen">
  <%= render "shared/banner-title" %>
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-xs-12 col-md-4">
      <div class="post-index-card">
        <div class="post-index-card-image" style="background-image: url(<%= cl_image_path post.card_photo.path %>);">

        </div>
        <div class="post-index-card-category">
          <p><%= post.category.name %></p>
        </div>
        <div class="post-index-card-text">
          <h4><%= post.title %></h4>
          <p><%= post.introduction %></p>
        </div>
        <div class="post-index-card-date">
          <p>By <strong><%= post.user.name %></strong></p>
          <%= link_to "Edit", edit_post_path(post), class: "post-index-card-link-edit" %>
          <p><%= post.created_at.strftime('%b %d, %Y') %></p>
        </div>
        <% if user_signed_in? && current_user.admin? %>
        <%= link_to "", post_path(post), class: "post-index-card-link" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <% if user_signed_in? && current_user.admin? %>
  <%= link_to "New post", new_post_path %>
  <% end %>
</div>
