<div class="container full-screen">
  <h1>New post</h1>
  <%= simple_form_for @post do |f| %>
  <%= f.input :card_photo, as: :attachinary %>
  <%= f.input :title %>
  <%= f.input :category, collection: Category.all %>
  <%= f.input :introduction %>
  <%= f.bootsy_area :content %>
  <%= f.button :submit, class: "btn btn-primary" %>
  <%= link_to "Cancel", posts_path, class: "btn btn-default" %>
  <% end %>
</div>

