<div class="container full-screen">
  <%= render "shared/banner-title" %>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="banner-title">
        <h3><%= @post.title.upcase %></h3>
      </div>
      <div class="post-image">
        <%= cl_image_tag @post.card_photo.path %>
      </div>
      <div class="post-content">
        <%= @post.content.html_safe %>
      </div>
      <div class="post-description">
        <p>By <%= @post.user.name %></p>
        <p><%= @likes_counter %> likes</p>
        <p><%= @post.created_at.strftime('%b %d, %Y') %></p>
      </div>
      <%= render "likes/add-like" %>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= render "shared/sidebar", posts: @latest_posts, videos: @latest_videos %>
    </div>
  </div>
</div>

<% content_for(:introduction) do %>
<%= @post.introduction %>
<% end %>

<% content_for(:title) do %>
<%= @post.title %>
<% end %>

<% content_for(:url) do %>
<%= request.original_url %>
<% end %>

<% content_for(:image) do %>
<%= cl_image_path @post.card_photo.path %>
<% end %>
