<div class="container full-screen">
  <%= render "shared/banner-title" %>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="post-image" style="background-image: url(<%= cl_image_path @post.card_photo.path %>)">
        <div class="post-image-border">
        <div class="post-image-title">
          <h1><%= @post.title %></h1>
        </div>
      </div>
      </div>
      <div class="post-content">
        <%= @post.content.html_safe %>
      </div>
      <div class="post-description">
        <p>By <%= @post.user.name %></p>
        <p><%=  pluralize(@likes_counter, 'like', 'likes')%></p>
        <p><%= @post.created_at.strftime('%b %d, %Y') %></p>
      </div>
      <% if @can_like %>
      <%= render "likes/add-like" %>
      <% if user_signed_in? && current_user.admin? %>
      <%= link_to "Edit", edit_post_path(@post), class: "btn btn-warning" %>
      <% end %>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= render "shared/sidebar", posts: @latest_posts, videos: @latest_videos %>
    </div>
  </div>
</div>



<% content_for(:introduction) do %>
<%= @post.introduction %>
<% end %>

<% content_for(:title) do %>
<%= @post.title %>
<% end %>

<% content_for(:url) do %>
<%= request.original_url %>
<% end %>

<% content_for(:image) do %>
<%= cl_image_path @post.card_photo.path %>
<% end %>
